{% extends "base.html" %} 
{% block content %}
<h2>List of Galleries</h2>

<div class="flex-container">
    {% for gallery in gallerys %}
    <div class="flex-item">
        <p class="gallery_title">{{gallery.title}}</p>
        <p class="gallery_date">Date Created:  {{gallery.date}}</p>
        
       {% for photo in gallery.photos.all %}

        {% if photo.default %}
        <p><img src='{{ photo.image_small.url }}'/></p>
        {% endif %}

        {% endfor %}
        <button><a href="{% url 'gallery_detail' pk=gallery.pk %}">Detail</a></button>
        <button><a href="{% url 'gallery_delete' pk=gallery.pk %}">Delete</a></button>
    </div>
    {% endfor %}
</div>

{% endblock %}