{% extends 'base.html' %}



{%block content%}

<p class="gallery_title">Gallery Title:  {{gallery.title}}</>
<p class="gallery_date">Date Created:  {{gallery.date}}</p>
<p></p>
{% if request.user.is_authenticated and gallery.user == request.user %}
<button><a href = "{% url 'photo_add' gallery_pk=gallery.pk %}">Add Photo</a></button>
{% endif %}
        {% for photo in gallery.photos.all %}
        <p>{{photo.title}}</p>
        <p><img src='{{ photo.image_large.url }}'/></p>
        <p>{{photo.description}} {{photo.date}}</p>
        <p></p>
        <p></p>
                {% if request.user.is_authenticated and gallery.user == request.user %}
                <button><a href = "{% url 'photo_delete' photo_pk=photo.pk %}">Delete Photo</a></button>
                {% endif %}
        {% endfor %}


{%endblock%}