{% extends 'base.html' %}

{%block content%}
<p class="gallery_title">Gallery Title:  {{gallery.title}}</>
<p class="gallery_date">Date Created:  {{gallery.date}}</p>

       {% for photo in gallery.photos.all %}
        <p><img src='{{ photo.image_large.url }}'/></p>
        {% endfor %}

{% if request.user.is_authenticated and gallery.user == request.user%}
{% comment %} <button><a href = "{% url 'gallery_update' pk=gallery.pk %}">Gallery Update</a></button> {% endcomment %}
<button><a href = "{% url 'gallery_delete' pk=gallery.pk %}">Delete</a></button>

{%endif%}




{%endblock%}