{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Photo Gallery</title>
</head>
<body>
    <p class="user"> active user: {{ user.username }}</p>
    <header>
        <a href="{% url 'gallery_list' %}">List of Galleries</a>
        {% if request.user.is_authenticated %}
        {% comment %} <a href="{% url 'gallery_create' %}">Create gallery</a> {% endcomment %}
        {% comment %} <a href = "{% url 'record_create' pk=gallery.pk %}">Record Create</a> {% endcomment %}
        <a href="/accounts/logout/">logout</a>
        {% else %}
        <a href="/accounts/login/">login</a>
        <a href="/accounts/register/">create account</a>
        {%endif%}
    </header>

<body>
    {% block content %}
    {% endblock %}
</body>
</html>